*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    align-items: center;
    padding: 15px 20px;
    position: sticky;
    top: 0px;
    z-index: 11;
    background-color: rgb(202, 233, 46);
    /* float: left; */


}
/* .nav2 a{
    display: flex;
} */
.fa-bars{
    color: black;
    font-size: 2rem;
    /* z-index: 99; */
    display: none;
}

header a:hover{

    color: #1e05ff;
    border-bottom: 2px solid rgb(0, 0, 0);

}
header b{
    font-size: 20px;
}
header a{
    color: rgb(72, 66, 66);
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 3px;
    padding: 10px;
    display: block;
    
}
.back-img{
    background-image: url(./br.jpg);
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    color: white;
}
.back-img span{
    background-color: rgb(61, 58, 58);
    
    padding: 10px 15px;
    opacity: 0.9;
    margin-right: 10px;
    
}

.img1{
    position: relative;
}


.img2{
    position: relative;
}.img3{
    position: relative;
}.img4{
    position: relative;
}.img5{
    position: relative;
}.img6{
    position: relative;
}
.img7{
    position: relative;
}
.img8{
    position: relative;
}

.img-section {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    width: 95%;
    height: auto;
    margin: auto;
    padding-top: 10px;
    
    

}
.hr h1{
    padding-top: 100px;
    margin: 16px 20px;
    

    
}
hr{
    margin-top: 30px;
    /* height: 500px; */
}
.img-section h3{
    position: absolute;
    top: 0px;
    background-color: rgb(8, 7, 7);
    color: white;
    padding: 8px 16px;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    
}
.img-section img{
    max-width: 100%;


}
#about{
    margin: 20px 20px;

}

.about p{
    padding-bottom: 30px;
    margin: 15px 0px;
    font-size: 15px;
    font-family: Verdana, sans-serif;
}
.contact {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    /* position: relative; */

}

.img11{
    width: 23%;
}

.contact-img {
    width: 100%;
}
.contact-img img{
    width: 100%;
}

.img12{
    width: 23%;

}
.img13{
    width: 23%;
}
.img14{
    width: 23%;
}
.h2{
    margin: 15px 0px;
    font-family: "Segoe UI",Arialserif,sans-;
    font-weight: 300;
}
.contact button{
    width: 100%;
    padding: 8px 16px;
    font-size: 15px;
    font-family: Verdana, sans-serif;
    background-color: rgb(250, 8, 8);
    color: white;border: none;
    margin-top: 10px;
}
.contact button:hover{  
    background-color:rgb(61, 200, 246);

}
.p{
    color: #757575;
    margin: 15px 0px;
}
.contact-section {
    width: 95%;
    margin: auto;

    
}
.contact-section p{
    margin: 16px 0px;
}
.contact-section button{
    background-color: red;
    color: white;
    padding: 8px 16px;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 15px;
    
    border: none;
}
.contact-section button:hover{
    background-color: rgb(52, 181, 251);
}
.contact-section form input{
    width: 100%;
    margin: 16px 0px;
    padding: 8px 10px;
    border: 1px solid #7c7b7b;
    font-size: 18px;
    text-transform: capitalize;
}
.contact-section img{
    width: 100%;
    margin: auto;
}
footer{
    width: 100%;
    height: 150px;
    /* padding-top: 50px; */
    margin-top: 10px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer u:hover{
    color: red;
    cursor: pointer;

}
/* responsive code----- */

@media only screen and (max-width:600px){
    header {
        max-width: 100%;
        /* overflow-x: hidden; */
        height: 50px;
        /* display: flex;
        justify-content: space-between;
        padding: 10px 20px; */
    }
    .nav2{
        flex-direction: column;
        width: 100vw;
        position: absolute;
        top: 50px;
        /* text-align: center; */
        align-items: center;
        justify-content: center;
        left: 0;
        height: 40vh;
        background-color: white;
        
        
    }
    .nav2 a{
        border-bottom: 2px solid blue;
        color: #1e05ff;
    }
    .fa-bars{
        display: block;
    }
     .nav2{
        display: none;
     }
    .back-img{
        width: 100%;
        height: 500px;

    }
    
.img-section {

    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 10px;
    width: 95%;
    margin: auto;
    padding-top: 50px;
}
.img-section h3{
    font-size: 0.7rem;
    padding: 4px 8px;
    background-color: #2d72e3;

}
.contact{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
#contact h2{
    font-size: 2.5rem;
}

.contact-img img{
    width: 100%;

}
}
@media only screen and (min-width:601px) and (max-width:800px){
    .nav2{
        max-width: 100%;
        /* overflow-x: hidden; */
        /* height: 70px;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px; */
        display: flex;

        
    }
  
    #contact h2{
        font-size: 3rem;
    }

 
    .back-img{
        width: 100%;
        height: 600px;

    }
    
.img-section {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 95%;
    margin: auto;
    padding-top: 50px;
}
.img-section h3{
    font-size: 1.3rem;
    padding: 4px 8px;
    background-color: #2d72e3;

}
.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.contact-img img{
    width: 100%;

}
.contact-section form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;


}
.contact-section form input{
    width: 47%;
}
.contact-section form button{
     margin-top: 0;
    margin-right: 70%;
    padding: 10px 10px; 
    
}

}
    


